alert("댓글등록완료");
$('#comment_body').val("");
$('#comment_table tbody').prepend(
`
    <tr>
        <td><%= @c.body %></td>
        <td><%= link_to "삭제", destroy_comment_posts_path(@c.id), method: :delete, data: {confirm: "삭제하시겠습니까?"}, class: "btn btn-warning", remote: true %></td>
    </tr>
`
)
